@using FilmsCatalogTestTask.Services.Pagination
@model FilmPagination
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-orderBy="Name">Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-orderBy="Director">Director</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-orderBy="Release">Release</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-orderBy="Release">Category</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Films != null)
        {
            @foreach (var film in Model.Films)
            {
                <tr>
                    <td>
                        @film.Name
                    </td>
                    <td>
                        @film.Director
                    </td>
                    <td>
                        @film.Release.ToShortDateString()
                    </td>
                    <td>
                        @foreach (var category in film.FilmCategories)
                        {
                            @category.Category.Name
                            @if (!category.Equals(film.FilmCategories.Last()))
                            {
                                <span>,</span>
                            }
                        }
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@film.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@film.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@film.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if (Model.TotalPage > 1)
{
    <div>
        Page @(Model.PageNumber) of @Model.TotalPage
    </div>
    <div>
        @if (Model.PageNumber < Model.TotalPage)
        {
            <a asp-action="Index" asp-route-pageNumber="@(Model.PageNumber+ 1)">Next</a>
        }
        @if (Model.PageNumber > 1)
        {
            <a asp-action="Index" asp-route-pageNumber="@(Model.PageNumber- 1)">Previous</a>
        }
    </div>
}
